{% extends "base.html" %}
{% block body %}
<script type="text/javascript">
  $(function () {
     var runid;
    $('[data-toggle="tooltip"]').tooltip();

    $('a[data-target="#modalExpire"]').click(function() {
      runid=$(this).closest('div.list-group-item').attr('id').slice(3);
    });

    $('button.btn-primary').click(function() {
      console.log(runid);
      $.get('/expirerun/'+runid);       //ajax to expire a run
      $('#modalExpire').modal('hide');  //close dialog
      $('#run'+runid).remove();
    });
  });
</script>

<h3>{{ escape(realname) }}</h3>

<div class="tab-content">
  <div role="tappanel" class="tab-pane active" id="test">
    <div class="list-group" id="cases">
      {% for (run,run_details) in testcases.items() %}
      <div class="list-group-item" id="run{{ run }}">
          <h4 class="list-group-item-heading"> Run 
              <a href="https://bugzilla.suse.com/tr_show_run.cgi?run_id={{ run }}">
                  {{ run }}
              </a>- {{ run_details['summary'] }}
    
              <div class="dropdown pull-right">
                <button class="btn btn-default btn-sm dropdown-toggle" type="button"
                        data-toggle="dropdown" aria-expanded="true">
                Action
                <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                  <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="#" data-toggle="modal"
                       data-target="#modalExpire">Expired This Run
                    </a>
                  </li>
                </ul>
              </div>
          </h4>
          {% for case in run_details['cases'] %}
            <a class="list-group-item-text" href="https://bugzilla.suse.com/tr_show_case.cgi?case_id=
                {{ case['case_id'] }}">{{case['case_id']}} </a> {{ case['summary'] }}
            <p class="list-group-item-text">Status: {{ case['case_run_status_id'] }}</p>
            <p class="list-group-item-text"> Bugs:
            {% for bug in case['bugs'] %}
            <a href="https://bugzilla.suse.com/show_bug.cgi?id={{ bug['bug_id'] }}" 
               data-toggle="tooltip" data-placement="right" title="{{ bug['short_desc'] }}">
              {% if bug['bug_status'] in ('VERIFIED', 'RESOLVED') %}
                <s>{{ bug['bug_id'] }}</s>
              {% else %}
                {{ bug['bug_id'] }}
              {% end %}
            </a>
            {% end %}
            </p>
          {% end %}
      </div>
      {% end %}
    </div>
  </div>

  {#Include the block for Tabl Bugs#}
  {% include bugs.html %}

  {#Include the block for Tab Settings#}
  {% include settings.html %}

</div>


<!--Modal dialog when someone want to expire a run-->
<div class="modal fade" id="modalExpire" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-body">
        <p>Sometimes we may have validation RUN of beta1, beta2, beta3. So 
        the RUN of beta1 and beta2 should be marked as expired so that data
         of that run won't be collected and showed.</p>
        <h4><b>Attention:</b></h4>
        <p>If you marked a RUN as expired, others will also be effected.
        They will also not be able to get cases of that RUN.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary">Expire It!</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% end %}
